//
//  Debug.xcconfig
//  IWBB
//
//  Created by IWBB Team
//

// Debug Configuration for IWBB Project

// Base settings
CONFIGURATION_BUILD_DIR = $(SYMROOT)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)

// Code signing
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(inherited)

// Swift settings  
SWIFT_VERSION = 5.9
IPHONEOS_DEPLOYMENT_TARGET = 17.0
MACOSX_DEPLOYMENT_TARGET = 14.0

// App settings
PRODUCT_BUNDLE_IDENTIFIER = com.iwbb.app
PRODUCT_NAME = IWBB
INFOPLIST_FILE = IWBB/Info.plist
CODE_SIGN_ENTITLEMENTS = IWBB/IWBB.entitlements

// Debug specific
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)

// Performance
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf

// Warnings
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE 